<div class="registration-page__wrapper">
  <div class="registration-page__header-wrapper">
    <div class="registration-page__header-wrapper__title-wrapper">
      <i class="pi pi-lock" [ngStyle]="{fontSize: '30px'}"></i>
      <h1 class="registration-page__header-wrapper__title">Sign up</h1>
    </div>
  </div>
  <div class="registration-page__login-wrapper">
    <div class="registration-page__login-wrapper_input-wrapper">
          <span class="p-float-label">
            <input class="registration-page__input" id="float-input-username" type="text" pInputText type="text" />
            <label for="float-input" [ngStyle]="{fontSize: 'larger'}">Username</label>
          </span>
    </div>
  </div>
  <div class="registration-page__login-wrapper">
    <div class="registration-page__login-wrapper_input-wrapper" [ngStyle]="{height: '70px'}">
          <span class="p-float-label">
            <input class="registration-page__input" id="float-input-password" type="password" pInputText type="password" />
            <label for="float-input" [ngStyle]="{fontSize: 'larger'}">Password</label>
          </span>
    </div>
  </div>
  <div class="registration-page__button-wrapper">
    <div class="registration-page__link-wrapper">
      <a class="registration-page__button-link" routerLink="/login">already registered? Log In</a>
    </div>
    <div>
      <button pButton type="button" label="Sign up" class="registration-page__button"></button>
    </div>
  </div>
</div>
